{
  "check-coverage": true,
  "lines": 99,
  "statements": 99,
  "functions": 99,
  "branches": 75,
  "include": [
    "**/*.ts"
  ],
  "exclude": [
    "**/*.decorators.ts",
    "**/*.entity.ts",
    "**/*.test-helpers.ts",
    "**/*.spec.ts"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "require": [
  ],
  "extension": [
    ".ts"
  ],
  "cache": false,
  "all": false,
  "report-dir": "./coverage"
}